<div class ="container" >
	<ol class = "breadcrumb">
		<% if user_signed_in? %>
			<%= link_to "Create Album", new_album_path %>|
			<%= link_to "My Albums", user_path(current_user.id) %>
		<% end %>
		<center><b>Welcome to Image-Share Homepage</b></center>
	</ol>

	<p>
		<% @photos.each do |photo| %>
			<h4>Photo Tag: <%= photo.tagline %></h4>
			<h6>By:<%= link_to  photo.album.user.email , user_path(photo.album.user_id) %></h6>
			<center><%= image_tag photo.image.url(:medium) %></center>
			
			<hr>
		<% end %>
	</p>
</div> 

