<div class ="container" >
	<ol class = "breadcrumb">
		<%= link_to "Home", root_path %>
		<% if user_signed_in? %>
			|<%= link_to "Create Album", new_album_path %>
		<% end %>
		<center><b>Album list for user <%= @user.email %></b></center>
		<center>click on the album name to view the album</center>
	</ol>
	<p>
		<% @albums.each do |album| %>
			<h4><%=link_to album.name, album_path(album.id) %></h4>

			<hr>
		<% end %>
	</p>

</div>