
<%= form_for @album, html: {class: 'form-horizontal'} do |f| %>
	
	<div class="form-group">
		<%= f.label :name , class: 'col-sm-2 control-label' %></br>
		<div class="col-sm-10">
			<%= f.text_field :name, class: 'form-control', placeholder: 'Enter Album Name' %>
		</div>
	</div>


	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Save", class: 'btn btn-success' %>
		</div>
	</div>
	
<% end %>