<div class ="container">
	<ol class = "breadcrumb">
		<%= link_to "Home", root_path %>|
		<%= link_to "Back to all Albums", user_path(@album.user_id) %>
		<% if user_signed_in? %>
			<center><b>Add Photos For The Album: "<%= @album.name%>" </b></center>
		<% else %>
			<center><b>Photos For The Album: "<%= @album.name%>"</b></center>
		<% end %>	
		<center><h4>This album contains <%= pluralize(@album.photos_count,'photo') %></h4><center>
	</ol>
	
	
	<% if user_signed_in? %>
		<% if @album.user_id == current_user.id %>
			<%= render 'photos/form' %>
		<% end %>
	<% end %>
	
	<% @photos.each do |photo|%>
		<center><p><h4>Photo Tag:<%= photo.tagline %></h4></p></center>
		<center><%= image_tag photo.image.url(:medium) %></center>
		<hr>
	<% end %>		
</div>