<%= form_for ([@album, @album.photos.build]) , html: {class: 'form-horizontal', multipart: true } do |f| %>
	
	<div class="form-group">
		<%= f.label :image , class: 'col-sm-2 control-label' %></br>
		<div class="col-sm-10">
			<%= f.file_field :image %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :tagline, class: 'col-sm-2 control-label' %></br>
		<div class="col-sm-8">
			<%= f.text_field :tagline , class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Add Photos", class: 'btn btn-success' %>
		</div>
	</div>
	
<% end %>