<!DOCTYPE html>
<html>
  <head>
    <title>ImageShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class ="container" >
	  	<% if user_signed_in? %>
			Signed in as <%= current_user.email %> |
			<%= link_to "Sign out" , destroy_user_session_path, method: 'delete' %>

			<% else %>
				<%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
	  	<% end %>

	  	<% flash.each do |k,v| %>
			<div class="alert alert-success" role="alert"><center><%= v %></center> </div>
	  	<% end %>
	</div>

    <%= yield %>
  </body>
</html>
